<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

<div class="center_everything">
<div class="user">
  <h1>Sign up</h1>
  <div class="social row">
    <a href="/users/auth/google">
      <div class="google">
        <img src="/images/social/google.svg">
        <span>Sign up with Google+</span>
      </div>
    </a>
  </div>

  <h4>Or sign up with</h4>
  <%= form_for @changeset, user_path(@conn, :create), fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <div class="form-group row">
      <%= label f, :name, class: "control-label col-md-2" %>
      <div class="col-md-9">
        <%= text_input f, :name, class: "form-control", required: true %>
        <%= error_tag f, :name %>
      </div>
    </div>

    <div class="form-group row">
      <%= label f, :email, class: "control-label col-md-2" %>
      <div class="col-md-9">
        <%= email_input f, :email, class: "form-control", required: true %>
        <%= error_tag f, :email %>
      </div>
    </div>

    <div class="form-group row">
      <%= label f, :password, class: "control-label col-md-2" %>
      <div class="col-md-9">
        <%= password_input f, :password, class: "form-control", required: true %>
        <%= error_tag f, :password %>
      </div>
    </div>

    <div class="form-group row">
      <%= label f, :retype_password, class: "control-label col-md-2" %>
      <div class="col-md-9">
        <%= password_input f, :password_confirmation, class: "form-control", required: true %>
        <%= error_tag f, :password_confirmation %>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-2">Secondary Language</label>
      <div class="col-md-9">
        <%= multiple_select f, :languages, @languages, class: "multiple_select" %>
      </div>
    </div>

    <div class="form-group row">
      <%= submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
  $('.multiple_select').select2({
      tags: true
    });
</script>
