<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>
  <li>
    <strong>Languages</strong>
    <ul>
      <%= for language <- @user.languages do %>
        <li><%= language %></li>
      <% end %>
    </ul>
  </li>
</ul>
