<h2>Listing Section</h2>
<p>Note: Deleting a section does not delete the lessons that belongs in that section. Must delete lessons manually.</p>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for group <- @groups do %>
    <tr>
      <td><%= group.id %></td>
      <td><%= group.name %></td>
      <td class="text-right">
        <%= link "Show", to: group_path(@conn, :show, group), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: group_path(@conn, :edit, group), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: group_path(@conn, :delete, group), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New deck", to: group_path(@conn, :new) %>
