<h2>Edit group</h2>

<%= render "form.html", changeset: @changeset,
                        action: group_path(@conn, :update, @group) %>

<%= link "Delete", to: group_path(@conn, :delete, @group), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
<%= link "Index", to: group_path(@conn, :index) %>
