<div class="group">
  <div class="row">
    <div class="group_title">
      <h1><%= @group.name %></h1>
      <div class="links">
        <a href="<%= group_path(@conn, :test, @group)%>"><img src="/images/check.png" class="icon"> Take test</a>
        <a href="<%= group_path(@conn, :terms, @group)%>"><img src="/images/list.png" class="icon"> All terms</a>
      </div>
    </div>
    <%= for deck <- @group.done_decks do %>
      <div class="col-lg-3 section done">
        <a href="<%= deck_path(@conn, :show, deck) %>">
          <div class="info circle">
            <img src="/images/check_big.svg" class="check">
            <h3 class="title"><%= deck.name %></h3>
          </div>
        </a>
      </div>
    <% end %>
    <%= if @group.current_deck do %>
      <div class="col-lg-3 section">
        <a href="<%= deck_path(@conn, :show, @group.current_deck) %>">
          <div class="info circle">
            <img src="<%= image_url(@group.current_deck.image) %>" class="deck_image">
            <h3 class="title"><%= @group.current_deck.name %></h3>
          </div>
        </a>
      </div>
    <% end %>
    <%= for deck <- @group.not_done_decks do %>
      <div class="col-lg-3 section not_done">
        <div class="info circle">
          <img src="/images/lock.png" class="lock">
          <img src="<%= deck.image %>" class="deck_image">
          <h3 class="title"><%= deck.name %></h3>
        </div>
      </div>
    <% end %>
      <div class="col-lg-3 section">
        <a href="<%= group_path(@conn, :test, @group) %>">
          <div class="info circle">
            <img src="/images/group/test.png" class="large_icon">
          </div>
        </a>
      </div>

  </div>
</div>
