<div class="content deck" id="quiz_area">
  <div class="title">
    <h1><%= @group.name %></h1>
    <a href="/training" class="pull-sm-left">
      < Back
    </a>
    <div class="links pull-sm-right">
      <a href="<%= group_path(@conn, :test, @group)%>"><img src="/images/check.png" class="icon"> Take test</a>
    </div>
  </div>
</div>

<div class="term_list">
  <%= for term <- @group.terms do %>
    <div class="row">
        <h4 class="title"><%= term.term %></h4>
        <p><%= term.definition %></p>
    </div>
  <% end %>
</div>
