<div class="group">
  <div class="test_done">
    <img src="/images/group/person_trophy.png">
    <h1>Congratulations <%= user_name(@conn) %>!</h1>
    <div class="course_info">
      <div class="current_course_wrapper">
        <div class="current_course">
          <div class="title">
            <h4>Course</h4>
            <h3><%= @group.name %></h3>
          </div>
          <div class="achievement points">
            <p><span class="special">+200</span> Legal Terminology</p>
            <p><span class="special">+200</span> Experience Pts</p>
            <hr \>
            <p><span class="special">400</span> Total</p>
          </div>
        </div>
        <div class="check">
          <img src="/images/check_big.svg">
          Completed!
        </div>
      </div>
      <%= if @next_group do %>
      <div class="arrow">
        <img src="/images/greater_green.svg">
        <img src="/images/unlock_lock.png">
      </div>
      <div class="next_course_wrapper">
        <div class="next_course">
          <div class="title">
            <h4>Next course</h4>
            <h3><%= @next_group.name %></h3>
          </div>
          <div class="points">
            <p><span class="special">+300</span> Legal Terminology</p>
            <p><span class="special">+400</span> Experience Pts</p>
            <p><span class="special">+100</span> Translation</p>
          </div>
        </div>
        <%= link "Start course", to: group_path(@conn, :show, @next_group), class: "btn btn-default btn-primary start_course" %>
      </div>
      <% end %>
    </div>
    <a href="/training" class="btn">Back to training</a>
  </div>
</div>
