<h1>Test Results</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>User id</th>
      <th>Group ID</th>
      <th>Wrong Answers</th>
      <th>Terms IDs</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for result <- @results do %>
    <tr>
      <td><%= result.id %></td>
      <td><%= result.user_id %></td>
      <td><%= result.group_id %></td>
      <td><%= Enum.join(result.wrong_answers, ", ") %></td>
      <td><%= Enum.join(result.term_ids, ", ") %></td>
      <td><%= link "Delete", to: group_path(@conn, :delete_test_result, result.id), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></td>
    </tr>
<% end %>
  </tbody>
</table>
