<%= render(Quizler.SharedTemplateView, "quiz.html", conn: @conn,
                                                   title:  "#{@group.name} Test",
                                                   all_terms_url:  group_path(@conn, :terms, @group),
                                                   done_action: group_path(@conn, :test_done, @group),
                                                   back_url: "/training",
                                                   quiz_items_url: group_path(@conn, :test_items, @group)) %>
