<div class="matching_done">
    <img src="/images/group/user_with_rank.png" />
    <h1>Great work <%= user_name(@conn) %></h1>
    <div class="points">
      <p><span class="special">+200</span> Legal Terminology</p>
      <p><span class="special">+200</span> Experience Pts</p>
    </div>

  <%= link "Play Again", to: game_path(@conn, :game_match, @deck), class: "btn btn-secondary" %>
  <%= link "Take Quiz", to: deck_path(@conn, :quiz, @deck), class: "btn btn-primary" %>
</div>
