<div class="deck">
  <div class="title">
    <h1><%= @deck.name %></h1>
    <a href="/groups/<%= @deck.group_id %>" class="pull-sm-left">< Back</a>
    <div class="pull-sm-right link_right">
      <a href="/decks/<%= @deck.id %>/quiz"><img src="/images/check.png" class="icon"> Take quiz</a>
      <a href="/decks/<%= @deck.id %>/terms"><img src="/images/list.png" class="icon"> All terms</a>
    </div>
  </div>
</div>

<div id="game_match" class="hidden content">
  <p class="info">Match the words with its definition</p>
  <div class="game_area">
    <div @click="select(card)" class="animated card {{card.status}}" v-for="card in cards">
      {{card.name}}
    </div>
  </div>
</div>
<div class="loading">
  <h1>Loading...</h1>
  <progress class="progress progress-striped progress-success" value="75" max="100"></progress>
</div>

<script>
$(document).ready(function() {
  require("web/static/js/deck_game_match").DeckGameMatch.run('#game_match',
                        "<%= game_path(@conn, :game_match_cards, @deck) %>",
                        "<%= game_path(@conn, :game_match_done, @deck) %>");
});
</script>
