<h2>Edit exam question</h2>

<%= render "form.html", changeset: @changeset,
                        action: exam_question_path(@conn, :update, @exam_question) %>

<%= link "Back", to: exam_question_path(@conn, :index) %>
