<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :exam_id, class: "control-label" %>
    <%= number_input f, :exam_id, class: "form-control" %>
    <%= error_tag f, :exam_id %>
  </div>

  <div class="form-group">
    <%= label f, :question, class: "control-label" %>
    <%= text_input f, :question, class: "form-control" %>
    <%= error_tag f, :question %>
  </div>

  <div class="form-group">
    <%= label f, :answer, class: "control-label" %>
    <%= text_input f, :answer, class: "form-control" %>
    <%= error_tag f, :answer %>
  </div>

  <div class="form-group">
    <%= label f, :choices, class: "control-label" %>
    <%= text_input f, :choices, class: "form-control" %>
    <%= error_tag f, :choices %>
  </div>

  <div class="form-group">
    <%= label f, :type, class: "control-label" %>
    <%= number_input f, :type, class: "form-control" %>
    <%= error_tag f, :type %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
