<h2>Listing exam questions</h2>

<table class="table">
  <thead>
    <tr>
      <th>Exam</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Choices</th>
      <th>Type</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for exam_question <- @exam_questions do %>
    <tr>
      <td><%= exam_question.exam_id %></td>
      <td><%= raw exam_question.question %></td>
      <td><%= exam_question.answer %></td>
      <td><%= exam_question.choices %></td>
      <td><%= exam_question.type_id %></td>

      <td class="text-right">
        <%= link "Show", to: exam_question_path(@conn, :show, exam_question), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: exam_question_path(@conn, :edit, exam_question), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: exam_question_path(@conn, :delete, exam_question), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New exam question", to: exam_question_path(@conn, :new) %>
