<h2>New exam question</h2>

<%= render "form.html", changeset: @changeset,
                        action: exam_question_path(@conn, :create) %>

<%= link "Back", to: exam_question_path(@conn, :index) %>
