<h2>Show exam question</h2>

<ul>

  <li>
    <strong>Exam:</strong>
    <%= @exam_question.exam_id %>
  </li>

  <li>
    <strong>Question:</strong>
    <%= @exam_question.question %>
  </li>

  <li>
    <strong>Answer:</strong>
    <%= @exam_question.answer %>
  </li>

  <li>
    <strong>Choices:</strong>
    <%= @exam_question.choices %>
  </li>

  <li>
    <strong>Type:</strong>
    <%= @exam_question.type %>
  </li>

</ul>

<%= link "Edit", to: exam_question_path(@conn, :edit, @exam_question) %>
<%= link "Back", to: exam_question_path(@conn, :index) %>
