<h2>Edit user language</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_language_path(@conn, :update, @user_language) %>

<%= link "Back", to: user_language_path(@conn, :index) %>
