<h2>Listing user languages</h2>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Language</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user_language <- @user_languages do %>
    <tr>
      <td><%= user_language.user_id %></td>
      <td><%= user_language.language_id %></td>

      <td class="text-right">
        <%= link "Show", to: user_language_path(@conn, :show, user_language), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: user_language_path(@conn, :edit, user_language), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: user_language_path(@conn, :delete, user_language), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New user language", to: user_language_path(@conn, :new) %>
