<h2>New user language</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_language_path(@conn, :create) %>

<%= link "Back", to: user_language_path(@conn, :index) %>
