<h2>Show user language</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @user_language.user_id %>
  </li>

  <li>
    <strong>Language:</strong>
    <%= @user_language.language_id %>
  </li>

</ul>

<%= link "Edit", to: user_language_path(@conn, :edit, @user_language) %>
<%= link "Back", to: user_language_path(@conn, :index) %>
