<h2>Listing logs</h2>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Path</th>
      <th>Access date</th>

    </tr>
  </thead>
  <tbody>
<%= for log <- @logs do %>
    <tr>
      <td><%= link log.user_id, to: log_path(@conn, :show, log.user_id) %></td>
      <td><%= link log_user_name(log.user), to: log_path(@conn, :show, log.user_id) %></td>
      <td><%= log.path %></td>
      <td><%= log.inserted_at %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New log", to: log_path(@conn, :new) %>
