<h2>Show log</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @log.user_id %>
  </li>

  <li>
    <strong>Path:</strong>
    <%= @log.path %>
  </li>

</ul>

<%= link "Edit", to: log_path(@conn, :edit, @log) %>
<%= link "Back", to: log_path(@conn, :index) %>
