<div class="center_everything">
  <div class="social row">
    <a href="/auth/google">
      <div class="google">
        <img src="/images/social/google.svg">
        <span>Log in with Google+</span>
      </div>
    </a>
  </div>
  <h1>Login</h1>
  <%= form_for @conn, session_path(@conn, :create), [as: :session], fn f -> %>
    <div class="form-group">
      <%= label f, :name, class: "control-label" %>
      <%= text_input f, :email, placeholder: "Email", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label f, :password, class: "control-label" %>
      <%= password_input f, :password, placeholder: "Password", class: "form-control" %>
    </div>
    <%= submit "Log in", class: "btn btn-primary" %>
  <% end %>
</div>
