<div class="deck">
  <div class="done">
    <img src="/images/group/trophy.png" class="trophy">
    <h1>Great work <%= user_name(@conn) %>!</h1>
    <p>To complete <%= @deck.name %></p>
    <%= link "Take Quiz", to: deck_path(@conn, :quiz, @deck), class: "btn btn-primary" %>
    <p>or to review the lesson</p>
    <%= link "Go back to flashcard", to: deck_path(@conn, :show, @deck), class: "btn btn-secondary" %>
  </div>
</div>
