<h2>Edit deck</h2>

<%= render "form.html", changeset: @changeset,
                        action: deck_path(@conn, :update, @deck) %>

<%= link "Delete", to: deck_path(@conn, :delete, @deck), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
<%= link "Back", to: deck_path(@conn, :index) %>
