<%= render(Quizler.SharedTemplateView, "quiz.html", conn: @conn,
                                                   title: "#{@deck.group.name} - #{@deck.name}",
                                                   all_terms_url: deck_path(@conn, :terms, @deck),
                                                   done_action: deck_path(@conn, :done_quiz, @deck),
                                                   back_url: deck_path(@conn, :show, @deck),
                                                   quiz_items_url: deck_path(@conn, :quiz_items, @deck)) %>
