<div class="deck">
  <div class="quiz_done">
    <img src="/images/group/prize.png">
    <h1>Congratulations <%= user_name(@conn) %>!</h1>
    <div class="check_line">
      <img src="/images/check_big.svg" class="check">
      <hr >
      <div class="circle">
        <img src="<%= image_url(@deck.image) %>">
        <p class="text"><%= @deck.name %> completed!<p>
      </div>
    </div>
    <div class="content_nav">
      <%= link "Back to training", to: "/training", class: "btn btn-secondary" %>
      <%= if @next_deck do %>
        <%= link "Next Lesson", to: deck_path(@conn, :show, @next_deck), class: "btn btn-primary" %>
      <% else %>
        <%= link "Take test", to: group_path(@conn, :test, @deck.group_id), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
