<div class="deck content hidden" id="flashcard-app">
  <div class="top">
    <div class="title">
      <a href="/groups/<%= @deck.group_id %>" class="pull-sm-left">< Back</a>
      <h1><%= @deck.name %></h1>
      <div class="pull-sm-right link_right">
        <a href="/decks/<%= @deck.id %>/quiz"><img src="/images/check.png" class="icon"> Take quiz</a>
        <a href="/decks/<%= @deck.id %>/terms"><img src="/images/list.png" class="icon"> All terms</a>
        <a href="/decks/<%= @deck.id %>/games/match"><img src="/images/group/match_card.svg" class="icon"> Matching</a>
      </div>
    </div>
    <div class="progress-bar">
      <progress class="progress progress-success" value="{{completed}}" max="{{size}}"></progress>
      <span>{{completed}}/{{size}}</span>
    </div>
  </div>
  <div class="col-lg-8 card flashcard_area">
    <img v-bind:src="term.image_url">
    <div class="card-block">
      <h2 class="card-title title">{{ term.term }}</h2>
      <p class="card-text"> {{{ term.definition }}}</p>
    </div>
  </div>
  <div class="content_nav">
    <button class="btn btn-secondary" v-on:click="back">Back</button>
    <button class="btn btn-primary" v-on:click="next">Next</button>
  </div>
</div>

<div class="loading">
  <h1>Loading...</h1>
  <progress class="progress progress-striped progress-success" value="75" max="100"></progress>
</div>

<script>
$(document).ready(function() {
  require("web/static/js/deck_show").Deck.run('#flashcard-app',
                                            "/decks/<%= @deck.id %>/terms/json",
                                            "/decks/<%= @deck.id %>/done");
});
</script>
