<div class="deck content hidden flashcard" id="flashcard-app">
  <div class="top">
    <div class="title">
      <a href="/groups/<%= @deck.group_id %>" class="pull-sm-left">< Back</a>
      <h1><%= @deck.name %></h1>
      <div class="pull-sm-right link_right">
        <a href="/decks/<%= @deck.id %>/quiz"><img src="/images/check.png" class="icon"> Take quiz</a>
        <a href="/decks/<%= @deck.id %>/terms"><img src="/images/list.png" class="icon"> All terms</a>
        <a href="/decks/<%= @deck.id %>/games/match"><img src="/images/group/match_card.svg" class="icon"> Matching</a>
      </div>
    </div>
    <div class="progress-bar">
      <progress class="progress progress-success" value="{{completed}}" max="{{size}}"></progress>
      <span>{{completed}}/{{size}}</span>
    </div>
  </div>
  <div class="flip-wrapper">
    <div class="flashcard_area">
      <div class="card animated" v-show="!front" transition="flip" @click="flip">
        <p class="card-text"> {{{ term.definition }}}</p>
      </div>
    </div>
    <div class="flashcard_area">
      <div class="card animated" v-show="front" transition="flip" @click="flip">
        <h2 class="card-title title">{{ term.term }}</h2>
        <p class="card-text"> {{{ term.sentence }}}</p>
      </div>
    </div>
  </div>
  <div class="content_nav">
    <button class="btn btn-secondary" @click="back">Back</button>
    <button class="btn btn-primary" @click="next">Next</button>
  </div>
</div>

<div class="loading">
  <h1>Loading...</h1>
  <progress class="progress progress-striped progress-success" value="75" max="100"></progress>
</div>

<script>
$(document).ready(function() {
  var vueAppName = '#flashcard-app';
  var terms_url = "/decks/<%= @deck.id %>/terms/json";
  var done_url = "/decks/<%= @deck.id %>/done";

  $.get( terms_url )
  .done(function( data ) {

    var terms = data["data"];
    var index = 0;
    var size = terms.length;
    var last_index = size -1;

    new Vue({
      el: vueAppName,
      data: {
        term: terms[index],
        completed: 0,
        size: size,
        front: true
      },
      methods: {
        flip: function() {
          this.front = !this.front;
        },
        next: function (event) {
          if (index < last_index) {
            index = index + 1;
            updateView(this, terms[index], index);
          } else {
            window.location.href = done_url;
          }
        },
        back: function(event) {
          if (index > 0) {
            index = index - 1;
          }
          updateView(this, terms[index], index);
        },
        show_translation: function(event) {
          return this.term.translation.id != null;
        }
      }
    }); //end of Vue
    $('.loading').hide();
    $('.content').show();
  }); //end of get
});

function updateView(vue, term, index) {
  vue.term = term;
  vue.completed = index;
}
</script>
