<div class="deck">
  <div class="title">
    <h1><%= @deck.name %></h1>
    <a href="/groups/<%= @deck.group_id %>" class="pull-sm-left">< Back</a>
    <div class="pull-sm-right link_right">
      <a href="/decks/<%= @deck.id %>/quiz"><img src="/images/check.png" class="icon"> Take quiz</a>
      <a href="/decks/<%= @deck.id %>/games/match"><img src="/images/group/match_card.svg" class="icon"> Matching</a>
    </div>
  </div>
</div>
<div class="term_list">
  <%= for term <- @deck.terms do %>
  <div class="row">
    <h4 class="title"><%= term.term %></h4>
    <p><%= term.definition %></p>
  </div>
  <% end %>
</div>
