<div class="content deck hidden" id="quiz_area">
  <div class="title">
      <h1><%= @title %></h1>
      <a href="<%= @back_url %>" class="pull-sm-left">
        < Back
      </a>
      <a href="<%= @all_terms_url %>" class="pull-sm-right">
        <img src="/images/list.png"> All terms
      </a>
  </div>
  <div class="progress-bar">
    <progress class="progress progress-success" value="{{completed}}" max="{{size}}"></progress>
    <span>{{completed}}/{{size}}</span>
  </div>
  <div class="col-lg-8 card question-area">
    <h4 class="question">{{ item.question }}</h4>
    <ul class="answer">
      <li v-for="choice in item.choices" class="animated" v-bind:class="status(choice)">
        <label v-on:click="select(item, choice)">
          <input name="answer" type="radio" v-model="picked" value="{{ choice }}" disabled="{{answered}}">
          {{ choice }}
          <img src="/images/check_big.svg" v-show="show_right_answer(choice)">
          <img src="/images/cross.svg" v-show="show_wrong_answer(choice)">
        </label>
      </li>
    </ul>
  </div>
  <div class="content_nav">
    <button class="btn btn-primary" id="next_quiz" v-on:click="next" v-show="answered">Next</button>
  </div>

  <div class="hidden">
    <%= form_for @conn, @done_action, [as: :result, id: "done_quiz_form"], fn f -> %>
        <%= text_input f, :wrong_answers, value: "{{wrong_answers}}"%>
        <%= text_input f, :term_ids, value: "{{term_ids}}" %>
      <%= submit "Submit" %>
    <% end %>
  </div>
</div>
<div class="loading">
  <h1>Loading...</h1>
  <progress class="progress progress-striped progress-success" value="65" max="100"></progress>
</div>


<script>
$(document).ready(function() {
  require("web/static/js/quiz").Quiz.run('#quiz_area', "<%= @quiz_items_url %>");
});
</script>
