<h2>Edit term</h2>

<%= render "form.html", changeset: @changeset,
                        action: term_path(@conn, :update, @term) %>

<%= link "Delete", to: group_path(@conn, :delete, @group), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
<%= link "Back", to: term_path(@conn, :index) %>
