<h2>Show term</h2>

<ul>

  <li>
    <strong>Term:</strong>
    <%= @term.term %>
  </li>

  <li>
    <strong>Definition:</strong>
    <%= @term.definition %>
  </li>

  <li>
    <strong>Image:</strong>
    <%= @term.image %>
  </li>

</ul>

<%= link "Edit", to: term_path(@conn, :edit, @term) %>
<%= link "Back", to: term_path(@conn, :index) %>
