<div class="center_everything">
  <div class="user">
    <div class="social row">
      <a href="/users/auth/google">
        <div class="google">
          <img src="/images/social/google.svg">
          <span>Log in with Google+</span>
        </div>
      </a>
    </div>

    <h5>Or log in with</h5>
    <%= form_for @conn, session_path(@conn, :create), [as: :session], fn f -> %>
      <div class="form-group row">
        <%= label f, :name, class: "control-label col-md-2" %>
        <div class="col-md-9">
          <%= text_input f, :email, placeholder: "Email", class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= label f, :password, class: "control-label col-md-2" %>
        <div class="col-md-9">
          <%= password_input f, :password, placeholder: "Password", class: "form-control" %>
        </div>
      </div>
      <%= submit "Log in", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
