@import "_colors";

.intro {
  padding: 0;
  letter-spacing: 2.8px;

  main {
    background-color: #FFF;
    padding: 0;
  }

  header {
    position: relative;
    top: 0px;
    background: rgba(255, 255, 255, 0.55);

    .user-nav {
      letter-spacing: 0.3px;
    }
  }

  .start {
    background: url('/images/about/sky.png');
    height: 570px;
    background-size: cover;
    text-align: center;
    padding: 30px;
    background-position: bottom;

    h1 {
      padding-top: 100px;
      text-transform:none;
      font-family: Raleway;
      font-size: 28px;
      line-height: 1.57;
      letter-spacing: 2.8px;
      text-align: center;
      color: #ffffff;
      text-shadow: 0 2px 14px rgba(0, 0, 0, 0.44);
      font-weight: 100;
    }

    .btn {
      margin-top: 130px;
    }
  }

  .btn {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 4px;
  }

  .gradient {
    background-image: linear-gradient(119deg, $background, #d7e2c9);
    background: $background; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  $background 0%, #d7e2c9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  $background 0%,#d7e2c9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  $background 0%,#d7e2c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$background', endColorstr='#d7e2c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .bigtext {
    font-size: 28px;
    line-height: 1.57;
    letter-spacing: 3.5px;
    text-align: center;
    color: #555555;
  }

  .info {
    height: 600px;

    img {
      padding-top: 50px;
      padding-bottom: 30px;
    }

    .arrow {
      padding: 0;
      padding-top: 24px;
    }

    .special {
      color: #06b3ff;
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-size: 35px;
      letter-spacing: 4.4px;
    }

    .inside {
      margin: auto;
    }

    @media (min-width: 992px) {
      .inside {
        width: 750px;
      }
    }
  }

  .tool {
    padding-bottom: 40px;

    div {
      margin: auto;
    }

    .up {
      top: -97px;

      .text {
        padding-top: 40px;
        max-width: 370px;
        margin: auto;
      }
    }

    @media (min-width: 992px) {
      .inside {
        width: 80%;
      }
    }
  }

  .research {
    padding: 90px 30px;
    text-align: center;

    .inside {
      margin: auto;
    }

    .bubble {
      margin: auto;
      width: 720px;
      margin-top: 60px;
      padding: 30px 80px;
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 10px;
      box-shadow: 3px 8px 13px 0 rgba(0, 0, 0, 0.05);

      .special {
        color: #0377a0;
        .money {
          font-family: 'Roboto', sans-serif;
          color: $primary;
          font-weight: 800;
        }
      }
    }

    .contact, .contact .title{
      max-width: 350px;
      margin: auto;
      margin-top: 70px;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.52;
      letter-spacing: 2.2px;

      p {
        text-align: left;
        font-weight: normal;
        line-height: 1;
        a {
          color: $primary-active;
        }
      }

      .title {
        padding-bottom: 15px;
      }

      .phone {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
      }
    }

    @media (min-width: 992px) {
      .inside {
        width: 55%;
      }
    }
  }

  .action {
    text-align: center;
    padding: 80px 0px;

    .text {
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 1.57;
      letter-spacing: 2.8px;
      color: #0377a0;
    }

  }

  .sponsor {
    text-align: center;
    padding: 50px;
    background-color: #f2f5f6;
  }
}
