@import "_colors";

html {
    height: 100%;
}

body {
  background-image: linear-gradient(119deg, $background, #d7e2c9);
  background: $background; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  $background 0%, #d7e2c9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  $background 0%,#d7e2c9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  $background 0%,#d7e2c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$background', endColorstr='#d7e2c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: Raleway;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: $primary;
}

a:hover, a:active {
  text-decoration: none;
  color: $primary-active;
}

.alert:empty {
    display: none;
}

main {
  background-color: rgba(255, 255, 255, 0.57);;
  padding: 30px;
}

.container {
  max-width: 100%;
}

@media (min-width: 992px) {
  body {
    padding: 35px;
  }
}

.social {
  display: inline-block;
  text-align: left;
  white-space:nowrap;
  font-size: 0.9em;
  padding-bottom: 20px;

  .google {
    background-color: #d73d32;
    border: 1px solid #c53929;
    padding-right: 15px;
    img {
      border-right: 1px solid #c53929;
    }
  }

  img {
    width: 50px;
  }

  a {
    color: #FFF;
  }
}

.center_everything {
  text-align: center;
  vertical-align: middle;
  padding: 40px 0px;
}

h1 {
  color: $primary-active;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.9px;
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 10px;
}

.btn {
  text-transform: uppercase;
  border-radius: 8px;
  font-weight: 600;
  padding: 15px;
  margin-bottom: 10px;
  border: 2px solid $primary;
}

.btn-danger {
  border: 0;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover, .btn:hover {
  background-color: $primary-active;
  border-color: $primary-active;
  color: #FFF;
}

.circle {
  border-radius: 50%;
}

.hidden {
  display: none;
}

.btn-secondary {
  background-color: #dddddd;
  border: 0px;
  color: #666;
}

.btn  {
  max-width: 100%;
}

@media (min-width: 700px) {
  .btn {
    padding: 15px 70px;
  }
}

.table {
  .btn {
    padding: 3px;
    font-size: 13px;
    border: 1px solid;
  }
}
