@import "_colors";

.dashboard {
  text-align: center;

  .section {
    padding-bottom: 25px;

    .info {
      margin: auto;
      background-color: #FFF;
      height: 200px;
      width: 200px;
      padding: 10px;
      display: block;
      padding-top: 50px;
      color: #5e970b;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 25px;
      box-shadow: 0px 8px 8px #ccc;
    }

    .title {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 600;
      color: $primary-active;
    }

    .time-selection-area {
      margin: auto;
      text-align: center;
      background-color: $primary;
      font-size: 14px;
      border-radius: 8px;
      width: auto;
      max-width: 200px;
      padding-left: 0px;

      li {
        width: 60px;
        padding: 10px;
        list-style: none;
        font-weight: 600;
        display: inline-block;
        border-right: solid #FFF 1px;

        a {
          display: block;
        }
      }

      li:last-child {
        border: 0;
      }

      a {
        color: #FFF;
      }
    }
  }
}
