@import "_colors";

.deck {
  text-align: center;
  padding-top: 16px;
  color: #777;

  .title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;

    *{
      display: inline-block;
    }

    .icon {
      width: 20px;
    }

    .link_right {
      a {
        padding-right: 10px;
      }
    }
  }

  .progress-bar {
    padding: 16px;
    margin-bottom: 25px;
    color: $primary-active;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;

    progress {
      height: 10px;
      width: 85%;
      margin: 0;
      border: 1px solid $primary;
    }

    @media (min-width: 700px) {
      progress {
        width: 93%;
      }
    }

    span, progress {
      display: inline-block;
    }
  }


  .card {
    margin: auto;
    float: none;
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.16);
    min-height: 250px;

    .english, .other {
      vertical-align: top;
    }

    .title {
      font-size: 40px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 1.9px;
      color: $primary-active;
      text-transform: capitalize;
    }

    @media (min-width: 600px) {
      .separator {
        position: relative;
        top: 90px;
        display: inline-block;
      }

      .english, .other {
        width: 40%;
        display: inline-block;
      }

      .other {
        padding-left: 40px;
      }

      .card-block {
        * {
          display: block;
        }
      }
    }
  }

  .content_nav {
    min-height: 70px;

    button {
      margin-left: 10px;
    }

  }

  .done {
    margin: auto;
    max-width: 400px;
    line-height: 40px;
    .trophy {
      width: 60px;
    }

    .btn {
      width: 70%;
      padding: 15px 10px;
    }
  }

  .question-area {
    text-align: center;
    .question {
      color: #777;
    }

    .answer {
      img {
        height: 20px;
      }

      .correct_answer {
        background: #ddeadd;
      }
    }

    ul {
      list-style: none;
      text-align: left;
      font-size: 22px;
      display: inline-block;
      padding-top: 10px;
      color: #333;
      li {
        display: block;
        padding: 7px;

        label {
          margin: 0;
        }
        .details {
          color: $primary-active;
          padding-left: 24px;
          line-height: 10px;
          font-size: 0.85em;
        }
      }

      .alert {
        font-size: 22px;
      }
    }
  }

  .quiz_done {
    div, h1, img {
      padding-bottom: 24px;
    }

    .content_nav {
      a {
        margin-right: 30px;
      }
    }

    .check_line {
      * {
        display: inline-block;
      }

      .check {
        position: relative;
        top: -30px;
        left: 15px;
      }

      hr {
        width: 80%;
        color: $success;
        background-color: $success;
        height: 7px;
        position: relative;
        top: -20px;
        left: 10px;
        border-radius: 5px;
        z-index: 10;
      }

      .circle {
        z-index: 100;
        width: 150px;
        height: 150px;
        background-color: #FFF;
        border: 2px solid $success;
        box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.16);
        padding-top: 15px;
        position: relative;

        img {
          width: 40%;
          padding-bottom: 8px;
        }

        .text {
          padding: 0px 10px;
          text-transform: uppercase;
          font-family: 'Roboto', sans-serif;
          color: #5e970b;
          font-size: 15px;
          font-weight: 600;
          line-height: 18px;
        }
      }
    }

    @media (min-width: 700px) {
      .check_line {
        margin-top: 10px;

        hr {
          width: 65%;
        }
      }
    }
  }
}
