@import "_colors";

.exam {
  font-size: 20px;
  padding: 20px;

  h1 {
    font-size: 2em;
  }

  h2 {
    text-align: center;
  }

  .card {
    padding: 16px;
  }

  li {
    list-style: none;
  }

  .question {
    color: $primary-active;
  }

  .content_nav {
    text-align: center;
  }

  .info {
    font-size: 16px;
  }

  .section .info .title {
      font-size: 18px;
      padding-top: 25px;
  }

  .result_area {
    padding-bottom: 15px;
  }
}
