@import "_colors";

.flashcard {
  .flip-wrapper {
    min-height: 290px;
    margin: auto;
    position: relative;
    text-align: center;
  }

  .flashcard_area {
    width: 100%;
    text-align: center;
    position: absolute;
  }

  .card {
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
  }

}
