@import "_colors";

#game_match {
  .title {
    text-transform: uppercase;

    .content_top_nav {
      font-size: 14px;
      font-weight: 600;
    }

  }
  .info {
    text-transform:none;
    text-align: center;
  }

  .game_area {
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    .card {
      display: flex;
      height: 230px;
      width: 250px;
      text-align: center;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.16);
      padding: 7px;
      margin: 10px;
    }

    .selected {
      border: 2px solid $primary;
    }

    .done {
      display: none;
    }

    .good {
      background-color: #C2FAAF;
    }

    .bad {
      background-color: #F79C9C;
    }
  }
}

.matching_done {
  text-align: center;

  img {
    padding-bottom: 20px;
  }

  .points {
    padding: 20px;
    margin: auto;
    background: #FFF;
    width: 250px;
    font-size: 15px;
    color: #777;
    text-align: left;
    line-height: 12px;
    margin-bottom: 50px;

    .special {
        color: $primary;
        font-weight: 600;
        padding-right: 5px;
    }
  }

  a {
    margin: 10px 20px;
  }
}
