@import "_colors";

.group {
  text-align: center;

  @media (min-width: 400px) {
    padding: 30px 50px;
  }

  .group_title {
    padding-bottom: 50px;

    div, h1 {
      display: inline-block;
    }

    .links {
      float: right;
      text-transform: uppercase;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
  }

  .section {
    padding-bottom: 25px;

    .info {
      .deck_image {
        width: 40%;
        padding-bottom: 20px;
      }

      margin: auto;
      background-color: #FFF;
      height: 200px;
      width: 200px;
      padding: 10px;
      display: block;
      padding-top: 50px;
      margin-bottom: 25px;
      box-shadow: 0px 8px 8px #ccc;

      .large_icon {
        width: 75%;
      }
    }

    .title {
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 600;
      color: $primary-active;
      letter-spacing: 1px;
    }

    .time-selection-area {
      margin: auto;
      text-align: center;
      background-color: $primary;
      font-size: 14px;
      border-radius: 8px;
      width: auto;
      max-width: 200px;
      padding-left: 0px;

      li {
        width: 60px;
        padding: 10px;
        list-style: none;
        font-weight: 600;
        display: inline-block;
        border-right: solid #FFF 1px;

        a {
          display: block;
        }
      }

      li:last-child {
        border: 0;
      }

      a {
        color: #FFF;
      }
    }
  }

  .done {
    .circle {
      border: 1px solid $success;

      .check {
        position: relative;
        top: 10px;
      }

      .title {
        position: relative;
        top: 50px;
        color: $success;
      }
    }
  }

  .not_done {
    .lock {
      width: 20px;
      position: absolute;
      left: 47%;
      top: 15%;
      z-index: 10;
    }

    .deck_image {
      z-index: 1;
      filter: gray; /* IE6-9 */
      filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
      opacity: 0.4;
    }

    .title {
      color: #777;
    }
  }

  .test_done {
    display: block;

    .course_info, .current_course_wrapper {
        text-align: center;
        div {
          vertical-align: top;
          margin-left: auto;
          margin-right: auto;
        }

    }

    .next_course_wrapper {
      div, a {
        display: block;
      }
    }

    .current_course, .next_course {
      width: 264px;
      display: inline-block;
      vertical-align: top;
      background-color: #FFF;
      border-radius: 6px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      padding: 15px 30px;
      color: #777777;

      .title {
        display: block;
        text-transform: uppercase;
        margin-bottom: 20px;
        h3 {
          display: block;
          font-size: 18px;
          font-weight: 600;
        }
        h4 {
          display: block;
          font-size: 12px;
          font-weight: 600;
          color: #AAA;
        }
      }

      .points {
        text-align: left;
        font-size: 14px;
        p {
          display: block;
        }

        hr {
          background: #DDD;
          height: 1px;
          border: 0;
        }

        .special {
            color: $primary;
            font-weight: 600;
            padding-right: 5px;
        }
      }
    }

    .current_course {
      padding-bottom: 80px;
    }

    .next_course {
      margin-bottom: 20px;
    }

    .start_course {
      width: 264px;
      margin: auto;
    }

    .check {
      background-color: #FFF;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid $success;
      position: relative;
      top: -75px;
      text-align: center;
      color: $success;
      font-size: 13px;
      padding-top: 15px;
    }

    .arrow {
      position: relative;
      top: -40px;
    }

    @media (min-width: 850px) {
      .course_info {
        .arrow, .next_course_wrapper, .current_course_wrapper {
          display: inline-block;
          margin: 20px;
        }

        .arrow {
          top: 110px;
        }
      }
    }
  }

}
