@import "_colors";

header {
  background-color: rgba(255, 255, 255, 0.29);
  font-size: 0.65em;

  .navbar-toggler {
    padding: 0;
    text-transform: uppercase;
    position: relative;
    top: -1px;
    .icon {
      font-size: 1.5em;
    }
  }

  .navbar-brand {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 5.4px;
    height: auto;
    width: 230px;
    text-align: center;
    a {
      color: #777;
    }
  }

  .navbar-default {
    background: none;
    border: 0;
    margin: 0;
  }

  .navbar-nav .nav-item + .nav-item {
    margin: 0;
  }

  .nav {
    text-transform: uppercase;

    a {
      color: #045c81;
      font-weight: 600;
      letter-spacing: 3px;
    }

    .active {
      a {
        color: #37a6cd;
      }
    }

    a:hover {
      color: #06befe;
    }

    li {
      border-right: 1px solid $primary-dark;
      padding: 0 30px;
    }

    li:last-child {
      border: 0px;
    }
  }

  .user-nav {
    font-size: 1.1em;
    padding-left: 29px;
    padding-bottom: 16px;

    a {
      color: #06a9e2;
      font-weight: bold;
      display: block;
      padding-top: 16px;
    }

    a:hover, a:active{
      color: $primary-dark;
    }

    img {
      display: none;
      width: 70px;
      height: 70px;
      border: 5px solid #FFF;
      box-shadow: 0px 2px 2px 0px #aaa;
      margin-right: 7px;
    }
  }
}

@media (min-width: 992px) {

  header {
    padding-top: 10px;

    .nav {
      position: relative;
      top: 20px;
    }

    .user-nav {
      div, a {
        display: inline-block;
      }

      img {
        display: inline;
      }
    }

  }
}
