@import "_colors";

.term_list {
  // position: relative;
  // top: -50px;

  .title {
    color: $primary-active;
  }

  img {
    max-width: 100%;
  }

  .row {
    text-align: left;
    border-bottom: 1px solid #FFF;
    padding: 15px 20px 0px 20px;
  }

  .row:nth-child(odd) {
    background: rgba(250, 250, 250, 0.5);
  }

  .row:first-child{
    border-top: 1px solid #FFF;
  }
}
