@import "_colors";

.user {
  color: #777;
  font-size: 16px;
  margin: auto;

  label {
    text-align: left;
  }

  input, .select2-container--default .select2-selection--multiple,
  .select2-container--default.select2-container--focus .select2-selection--multiple{
    border: solid $primary 1px;
  }

  .multiple_select {
    width: 100%;
  }


}

@media (min-width: 992px) {
  .user {
    width: 500px;
  }
}
