<h2>Edit exam question type</h2>

<%= render "form.html", changeset: @changeset,
                        action: exam_question_type_path(@conn, :update, @exam_question_type) %>

<%= link "Back", to: exam_question_type_path(@conn, :index) %>
