<h2>Listing exam question types</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Instructions</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for exam_question_type <- @exam_question_types do %>
    <tr>
      <td><%= exam_question_type.name %></td>
      <td><%= exam_question_type.instructions %></td>

      <td class="text-right">
        <%= link "Show", to: exam_question_type_path(@conn, :show, exam_question_type), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: exam_question_type_path(@conn, :edit, exam_question_type), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: exam_question_type_path(@conn, :delete, exam_question_type), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New exam question type", to: exam_question_type_path(@conn, :new) %>
