<h2>New exam question type</h2>

<%= render "form.html", changeset: @changeset,
                        action: exam_question_type_path(@conn, :create) %>

<%= link "Back", to: exam_question_type_path(@conn, :index) %>
