<h2>Show exam question type</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @exam_question_type.name %>
  </li>

  <li>
    <strong>Instructions:</strong>
    <%= @exam_question_type.instructions %>
  </li>

</ul>

<%= link "Edit", to: exam_question_type_path(@conn, :edit, @exam_question_type) %>
<%= link "Back", to: exam_question_type_path(@conn, :index) %>
