<h2>Edit user test group</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_test_group_path(@conn, :update, @user_test_group) %>

<%= link "Back", to: user_test_group_path(@conn, :index) %>
