<h2>Listing users test groups</h2>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user_test_group <- @users_test_groups do %>
    <tr>
      <td><%= user_test_group.user_id %></td>
      <td><%= user_test_group.group_id %></td>

      <td class="text-right">
        <%= link "Show", to: user_test_group_path(@conn, :show, user_test_group), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: user_test_group_path(@conn, :edit, user_test_group), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: user_test_group_path(@conn, :delete, user_test_group), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New user test group", to: user_test_group_path(@conn, :new) %>
