<h2>New user test group</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_test_group_path(@conn, :create) %>

<%= link "Back", to: user_test_group_path(@conn, :index) %>
