<h2>Show user test group</h2>

<ul>

  <li>
    <strong>User:</strong>
    <%= @user_test_group.user_id %>
  </li>

  <li>
    <strong>Group:</strong>
    <%= @user_test_group.group_id %>
  </li>

</ul>

<%= link "Edit", to: user_test_group_path(@conn, :edit, @user_test_group) %>
<%= link "Back", to: user_test_group_path(@conn, :index) %>
