<div class="exam card">
  <h1><%= @exam.name %></h1>
  <h2>Score: <span class="text-success"><%= score(@exam) %></span></h2>
  <%= for group <- @exam.grouped_questions do %>
    <h3><%= group.name %></h3>
    <%= for question <- group.questions, 1..3 do %>
    <div class="result_area">
      <div class="question"><%= raw question.question %></div>
      <div class="info">Answer: <span class="answer <%= result(question) %>"><%= question.answer %></span></div>
      <div class="info">Your answer: <span class="user_answer <%= result(question) %>"><%= question.user_answer %></span></div>
    </div>
    <% end %>
  <% end %>
</div>
