<h2>Edit exam</h2>

<%= render "form.html", changeset: @changeset,
                        action: exam_path(@conn, :update, @exam) %>

<%= link "Delete", to: exam_path(@conn, :delete, @exam), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
<%= link "Back", to: exam_path(@conn, :index) %>
