<div class="group exam">
<%= for exam <- @exams do %>
    <div class="col-lg-3 section">
      <a href="<%= exam_path(@conn, :show, exam) %>">
        <div class="info circle">
          <h3 class="title"><%= exam.name %></h3>
        </div>
      </a>
    </div>
<% end %>
</div>
