<div class="content exam" id="exam">
  <h1><%= @exam.name %></h1>
  <h2>{{group.name}}</h2>
  <p>{{group.instructions}}</p>
  <div class="card">
    <div class="question-area" v-for="item in group.questions">
      <h4 class="question">{{{ item.question }}}</h4>
      <ul class="answer">
        <li v-for="choice in item.choices">
          <label>
            <input name="{{item.id}}_answer" type="radio" value="{{ choice }}" v-model="item.user_answer"> {{ choice }}
          </label>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="content_nav">
    <button class="btn btn-primary" v-show="last_group" v-on:click="submit_answer" id="submit_answer_btn">Submit</button>
    <button class="btn btn-primary" v-show="!last_group" v-on:click="next" id="next_btn">Next</button>
  </div>
  <div class="hidden">
    <%= form_for @conn, exam_path(@conn, :done, @exam), [as: :result, id: "done_exam_form"], fn f -> %>
        <div v-for="group in grouped_questions">
          <div v-for="item in group.questions">
            <input type="text" name="answers[{{item.id}}]" value="{{item.user_answer}}"/>
          </div>
        </div>
      <%= submit "Submit" %>
    <% end %>
  </div>
</div>


<script type="text/javascript">
 $(document).ready(function() {
   var question_url = "<%= exam_path(@conn, :questions, @exam) %>";
   var vueAppName = "#exam";
   var done_url = "<%= exam_path(@conn, :done, @exam) %>";

   $.get( question_url )
   .done(function( data ) {
     var grouped_questions = data.grouped_questions;

     var index = 0;
     var size = grouped_questions.length;
     var group = grouped_questions[index];

     new Vue({
       el: vueAppName,
       data: {
         group: group,
         completed: 0,
         size: size,
         last_group: size == 1,
         grouped_questions: grouped_questions
       },
       methods: {
         next: function(event) {

           index++;
           if (index == size) {

           } else if (index == (size - 1)) {
             this.last_group = true;
             this.group = grouped_questions[index];
           } else {
             this.group = grouped_questions[index];
           }
         },
         submit_answer: function(event) {
           $('#done_exam_form').submit();
         }
       }
     }); //end of Vue
     $('.loading').hide();
     $('.content').show();
   }); //end of get
 });

</script>
