<h2>Edit spanish term</h2>

<%= render "form.html", changeset: @changeset,
                        action: spanish_term_path(@conn, :update, @spanish_term) %>

<%= link "Back", to: spanish_term_path(@conn, :index) %>
