<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :source_term_id, class: "control-label" %>
    <%= number_input f, :source_term_id, class: "form-control" %>
    <%= error_tag f, :source_term_id %>
  </div>

  <div class="form-group">
    <%= label f, :term, class: "control-label" %>
    <%= text_input f, :term, class: "form-control" %>
    <%= error_tag f, :term %>
  </div>

  <div class="form-group">
    <%= label f, :definition, class: "control-label" %>
    <%= text_input f, :definition, class: "form-control" %>
    <%= error_tag f, :definition %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
