<h2>Listing spanish terms</h2>

<table class="table">
  <thead>
    <tr>
      <th>Source term</th>
      <th>Term</th>
      <th>Definition</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for spanish_term <- @spanish_terms do %>
    <tr>
      <td><%= spanish_term.source_term_id %></td>
      <td><%= spanish_term.term %></td>
      <td><%= spanish_term.definition %></td>

      <td class="text-right">
        <%= link "Show", to: spanish_term_path(@conn, :show, spanish_term), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: spanish_term_path(@conn, :edit, spanish_term), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: spanish_term_path(@conn, :delete, spanish_term), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New spanish term", to: spanish_term_path(@conn, :new) %>
