<h2>New spanish term</h2>

<%= render "form.html", changeset: @changeset,
                        action: spanish_term_path(@conn, :create) %>

<%= link "Back", to: spanish_term_path(@conn, :index) %>
