<h2>Show spanish term</h2>

<ul>

  <li>
    <strong>Source term:</strong>
    <%= @spanish_term.source_term_id %>
  </li>

  <li>
    <strong>Term:</strong>
    <%= @spanish_term.term %>
  </li>

  <li>
    <strong>Definition:</strong>
    <%= @spanish_term.definition %>
  </li>

</ul>

<%= link "Edit", to: spanish_term_path(@conn, :edit, @spanish_term) %>
<%= link "Back", to: spanish_term_path(@conn, :index) %>
