<h2>Edit term sentence</h2>

<%= render "form.html", changeset: @changeset,
                        action: term_sentence_path(@conn, :update, @term_sentence) %>

<%= link "Back", to: term_sentence_path(@conn, :index) %>
