<h2>Listing term sentences</h2>

<table class="table">
  <thead>
    <tr>
      <th>Term</th>
      <th>Sentence</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for term_sentence <- @term_sentences do %>
    <tr>
      <td><%= term_sentence.term_id %></td>
      <td><%= term_sentence.sentence %></td>

      <td class="text-right">
        <%= link "Show", to: term_sentence_path(@conn, :show, term_sentence), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: term_sentence_path(@conn, :edit, term_sentence), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: term_sentence_path(@conn, :delete, term_sentence), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New term sentence", to: term_sentence_path(@conn, :new) %>
