<h2>New term sentence</h2>

<%= render "form.html", changeset: @changeset,
                        action: term_sentence_path(@conn, :create) %>

<%= link "Back", to: term_sentence_path(@conn, :index) %>
