<h2>Show term sentence</h2>

<ul>

  <li>
    <strong>Term:</strong>
    <%= @term_sentence.term_id %>
  </li>

  <li>
    <strong>Sentence:</strong>
    <%= @term_sentence.sentence %>
  </li>

</ul>

<%= link "Edit", to: term_sentence_path(@conn, :edit, @term_sentence) %>
<%= link "Back", to: term_sentence_path(@conn, :index) %>
