<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UnoNY</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">


  </head>

  <body class="intro">
    <main>
      <div class="start">
        <header>
          <nav class="navbar">
            <div class="navbar-brand">
              <a href="/">Interpreter Training</a>
            </div>
            <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
              Menu <span class="icon">&#9776;</span>
            </button>
            <div class="clearfix hidden-md-up"></div>
            <div class="collapse navbar-toggleable-sm" id="navbar-header">

              <ul class="nav navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/training">Training</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/exams">Sample Exams</a>
                </li>
              </ul>

              <div class="user-nav pull-md-right">
                <%= if logged_in?(@conn) do %>
                  <div class="hidden-md-down">
                    <img src="<%= user_photo(@conn) %>" class="img-circle">
                  </div>
                  <div class="nav-item">
                    <%= link "Logout", to: session_path(@conn, :delete), method: :delete, class: "nav-link" %>
                  </div>
                <% else %>
                  <div class="hidden-md-down">
                    <img src="/images/user.png" class="img-circle">
                  </div>
                  <div class="nav-item">
                    <a class="nav-link" href="/users/login">Log in</a>
                  </div>
                  <span class="hidden-md-down">or</span>
                  <a class="nav-link" href="/users/signup">Sign up</a>
                <% end %>
              </div>
            </div>
          </nav>
        </header>
        <div class="text">
          <h1>Do you want to learn legal terminology?</h1>
          <a href="/users/signup" class="btn btn-primary">Start here</a>
        </div>
      </div>
      <div class="info gradient bigtext">
        <img src="/images/down.svg" class="arrow">
        <div class="inside">
          <img src="/images/about/law.png">
          <p>There are around <span class="special">1,795,800</span> New Yorkers who can't navigate our legal system without the support of an interpreter.</p>
        </div>
      </div>
      <div class="tool bigtext">
        <div class="row inside">
          <div class="col-md-6 up">
            <img src="/images/about/training.png">
            <p class="text">We are building an online platform to <strong>train bilinguals</strong> as interpreters.</p>
          </div>
          <div class="col-md-6 up">
            <img src="/images/about/market.png">
            <p class="text">Connecting them with individuals who need help accessing <strong>basic legal rights</strong>.</p>
          </div>
        </div>
      </div>
      <div class="research gradient bigtext">
        <div class="inside">
          <p class="text">We are currently researching and testing technology prototypes with bilingual New Yorkers.</p>
          <p class="bubble hidden">If you would like to participate <span class="special">we offer <span class="money">$25/hr</span></span>.</p>
          <div class="contact">
            <h3 class="title">Contact us at:</h3>
            <p><strong>E:</strong> <a href="mailto:arodriguez@robinhood.org?Subject=UnoNY" target="_top">arodriguez@robinhood.org</a></p>
            <p><strong>P:</strong> <span class="phone">347-842-6576</span></p>
          </div>
        </div>
      </div>
      <div class="action">
        <p class="text">Do you want to learn legal terminology?</p>
        <a href="/users/signup" class="btn btn-primary">Start here</a>
      </div>
      <div class="sponsor">
        <p>Supported by</p>
        <a href="https://labs.robinhood.org/"><img src="/images/about/blue.png"></a>
      </div>
  </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
  </body>
</html>
